development:
  localtest:  true
  define:     "sleep 3"
  destroy:    "sleep 3"
  dominfo:    "sleep 3"
  list:       "sleep 0"
  migrate:    "sleep 1"
  migrate_u:  "sleep 1"
  migrate_b:  "sleep 1"
  migrate_s:  "sleep 1"
  migrate_sb: "sleep 1"
  net-define: "sleep 3"
  restore:    "sleep 3"
  resume:     "sleep 3"
  reset:      "sleep 1"
  save:       "sleep 3"
  start:      "sleep 3"
  suspend:    "sleep 3"
  undefine:   "sleep 3"
  create_img: "sleep 3"
  changemode: "sleep 3"
  get_image:  "sleep 3"
  put_image:  "sleep 3"
  creatediff: "sleep 3"
  map646:     "sleep 3"
  l4lb_stats: "echo /usr/bin/ssh sekiya@%s sudo /home/sohgo/bin/l4lb-stats '%s'"
  l7lb_copy1: "sleep 0"
  l7lb_copy2: "sleep 0"
  l7lb_rstrt: "sleep 0"
  ss_create:  "sleep 1"
  ss_list:    "sleep 1"
  ss_delete:  "sleep 1"
  ss_revert:  "sleep 1"
  vncproxy:   "sleep 1"
  gen_postfix_files: "sleep 1"

test:
  localtest:  true
  define:     "sleep 1"
  destroy:    "sleep 1"
  dominfo:    "sleep 1"
  list:       "sleep 0"
  migrate:    "sleep 1"
  migrate_u:  "sleep 1"
  migrate_b:  "sleep 1"
  migrate_s:  "sleep 1"
  migrate_sb: "sleep 1"
  net-define: "sleep 1"
  restore:    "sleep 1"
  resume:     "sleep 1"
  reset:      "sleep 1"
  save:       "sleep 1"
  start:      "sleep 1"
  suspend:    "sleep 1"
  undefine:   "sleep 1"
  create_img: "sleep 1"
  changemode: "sleep 1"
  get_image:  "sleep 1"
  put_image:  "sleep 1"
  creatediff: "sleep 1"
  map646:     "sleep 1"
  l4lb_stats: "echo /usr/bin/ssh sekiya@%s sudo /home/sohgo/bin/l4lb-stats '%s'"
  l7lb_copy1: "sleep 1"
  l7lb_copy2: "sleep 1"
  l7lb_rstrt: "sleep 1"
  ss_create:  "sleep 1"
  ss_list:    "sleep 1"
  ss_delete:  "sleep 1"
  ss_revert:  "sleep 1"
  vncproxy:   "sleep 1"
  gen_postfix_files: "sleep 1"

production:
  localtest:  false
  define:     "/usr/bin/virsh --connect qemu+tls://%s/system define %s"
  destroy:    "/usr/bin/virsh --connect qemu+tls://%s/system destroy %s"
  dominfo:    "/usr/bin/virsh --connect qemu+tls://%s/system dominfo %s"
  list:       "/usr/bin/virsh --connect qemu+tls://%s/system list --all 2> /dev/null"
  migrate:    "/usr/bin/virsh --connect qemu+tls://%s/system migrate --live %s qemu+tls://%s/system"
  migrate_u:  "/usr/bin/virsh --connect qemu+tls://%s/system migrate --live --unsafe %s qemu+tls://%s/system"
  migrate_b:  "/usr/bin/virsh --connect qemu+tls://%s/system migrate --live --copy-storage-inc %s qemu+tls://%s/system"
  migrate_s:  "/usr/bin/virsh --connect qemu+tls://%s/system migrate %s qemu+tls://%s/system"
  migrate_sb: "/usr/bin/virsh --connect qemu+tls://%s/system migrate --copy-storage-inc %s qemu+tls://%s/system"
  net-define: "/usr/bin/virsh --connect qemu+tls://%s/system net-define %s"
  restore:    "/usr/bin/virsh --connect qemu+tls://%s/system restore %s"
  resume:     "/usr/bin/virsh --connect qemu+tls://%s/system resume %s"
  reset:      "/usr/bin/virsh --connect qemu+tls://%s/system reset %s"
  save:       "/usr/bin/virsh --connect qemu+tls://%s/system save %s %s"
  start:      "/usr/bin/virsh --connect qemu+tls://%s/system start %s"
  suspend:    "/usr/bin/virsh --connect qemu+tls://%s/system suspend %s"
  undefine:   "/usr/bin/virsh --connect qemu+tls://%s/system undefine %s"
  ss_create:  "/usr/bin/virsh --connect qemu+tls://%s/system snapshot-create %s"
  ss_list:    "/usr/bin/virsh --connect qemu+tls://%s/system snapshot-list %s"
  ss_delete:  "/usr/bin/virsh --connect qemu+tls://%s/system snapshot-delete %s %s"
  ss_revert:  "/usr/bin/virsh --connect qemu+tls://%s/system snapshot-revert %s %s"
  create_img: "/usr/bin/ssh sekiya@%s /usr/bin/qemu-img create -b %s -f qcow2 %s"
  changemode: "/usr/bin/ssh sekiya@%s /bin/chmod 666 %s"
  get_image:  "/usr/bin/scp sekiya@%s:%s %s"
  put_image:  "/usr/bin/scp %s sekiya@%s:%s"
  creatediff: "/usr/bin/qemu-img create -b %s -f qcow2 %s"
  map646:     "/usr/bin/ssh sekiya@%s /home/sekiya/send-hup-map646.sh"
  l4lb_stats: "/usr/bin/ssh sekiya@%s sudo /home/sohgo/bin/l4lb-stats '%s'"
  l7lb_copy1: "/usr/bin/rsync -r --delete /var/www/WCC/current/tmp/nginx/sites-enabled/ %s:/etc/nginx/sites-enabled/"
  l7lb_copy2: "/usr/bin/rsync -r --delete /var/www/WCC/current/tmp/nginx/certs/ %s:/etc/nginx/certs/"
  l7lb_rstrt: "/usr/bin/ssh %s 'sudo /bin/chown root:root /etc/nginx/certs/*; sudo /usr/sbin/service nginx reload'"
  vncproxy:   "/usr/bin/python {{wcc_path}}/vendor/noVNC/utils/websockify %s %s:%s --daemon --run-once --timeout 120 --idle-timeout 600 --cert /etc/ssl/certs/ssl-cert-snakeoil.pem --key /etc/ssl/private/ssl-cert-snakeoil.key"
  deploy_postfix_files: "/usr/bin/ssh %s '(cp /var/temp-image/postfix_transport_wcc /tmp/postfix_transport_wcc.$$ && sudo /bin/chown root:root /tmp/postfix_transport_wcc.$$ && sudo /bin/mv /tmp/postfix_transport_wcc.$$ /etc/postfix/transport_wcc && sudo /usr/sbin/postmap /etc/postfix/transport_wcc); (cp /var/temp-image/postfix_access_recipient_wcc /tmp/postfix_access_recipient_wcc.$$ && sudo /bin/chown root:root /tmp/postfix_access_recipient_wcc.$$ && sudo /bin/mv /tmp/postfix_access_recipient_wcc.$$ /etc/postfix/access_recipient_wcc && sudo /usr/sbin/postmap /etc/postfix/access_recipient_wcc); (cp /var/temp-image/postfix_mynetworks_wcc /tmp/postfix_mynetworks_wcc.$$ && sudo /bin/chown root:root /tmp/postfix_mynetworks_wcc.$$ && sudo /bin/mv /tmp/postfix_mynetworks_wcc.$$ /etc/postfix/mynetworks_wcc && sudo /usr/sbin/postfix reload)'"
