ISO_IMAGE_DIR    = "{{wcc_var_nfs_path}}/{{wcc_iso_image_dir}}/"
IMAGE_DIR        = "{{wcc_var_nfs_path}}/{{wcc_image_dir}}/"
BASE_IMAGE_DIR   = "{{wcc_var_local_path}}/{{wcc_base_image_dir}}/"
DIFF_IMAGE_DIR   = "{{wcc_var_nfs_path}}/{{wcc_diff_image_dir}}/"
DHCP_LEASES      = "/var/lib/dhcp3/dhcpd.leases"
DEFAULT_STORAGE_LOCATION = {{wcc_default_storage_location}}
UPLOAD_DIR       = "{{wcc_upload_path}}"
NAT46_CONF       = "/var/temp-image/map646.conf"
NAT46_PREFIX     = "2001:200:dff:fff1"
NOTIFY_MAIL_ADDR = "xxxxx@wide.ad.jp"
DEFAULT_NETWORK  = "DEFAULT"
WCC_MSGD_HOST    = "127.0.0.1"
WCC_MSGD_WS_PORT = "11865"
WCC_MSGD_WSS_PORT= "11866"
WCC_MSGD_LISTEN_ADDR= "0.0.0.0"
WCC_MSGD_CERT    = "/etc/ssl/certs/wcc_cert.pem"
WCC_MSGD_CERT_KEY= "/etc/ssl/private/wcc_key.pem"
SMTPRELAY_SERVERS= %w(cloud-net1.wide.ad.jp cloud-net2.wide.ad.jp cloud-net3.wide.ad.jp)
POSTFIX_TRANSPORT_DIR= "/var/temp-image/"
