# The secondary network interface
auto {{wcc_secondary_if}}
iface {{wcc_secondary_if}} inet manual 

auto {{wcc_secondary_bridge}}
iface {{wcc_secondary_bridge}} inet static
	address {{wcc_secondary_if_address}}
	netmask {{wcc_secondary_if_netmask}}
	gateway {{wcc_secondary_if_gateway}}
	bridge_ports {{wcc_secondary_if}}
	bridge_stp off
	bridge_fd 0
	bridge_maxwait 0
